In [1]:
import pandas as pd
from numpy import arange
import codecs

In [2]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import pickle

In [26]:
commentairesName="/Users/gilles/Copy/Recherche/Rugby/Videos/CorrespondancesAction-PlayVsColour.csv"
commentairesTypesName="/Users/gilles/Copy/Recherche/Rugby/CorpusRugby2007/Timeline-TypeCommentaires.pkl"
commentairesFile=codecs.open(commentairesName,"r",encoding="utf8")
commentaires=commentairesFile.readlines()

In [5]:
initialTime="00:11:52.4"
decalage=0
def decodeTime(temps):
    (heure,minute,seconde)=temps.split(":")
    result=int(100*(3600*int(heure)+60*int(minute)+float(seconde))-decalage)
    return result

decalage=decodeTime(initialTime)
print decalage, decodeTime(initialTime)

71240 0

In [13]:
def sliceDataFrame(df,debut,fin,seuil,colonnes):
    return df[df.index<fin][df[df.index<fin].index>=debut][colonnes].dropna(thresh=seuil)

In [14]:
#timeLine=pd.DataFrame(index=[float(i)/100 for i in range(6500000)],columns=["début","fin","V1","V2","V3"])
timeLine=pd.DataFrame(columns=["début","fin","événement","action","texte","PxP","colour"])

In [15]:
for ligne in commentaires[1:]:
    elements=ligne.strip().split(";")
#    for i,element in enumerate(elements):
#        print i,element,
#    print
    if elements[14]=="":
        typeCommentaire=elements[13]
    else:
        typeCommentaire=elements[14]
    if typeCommentaire in ["Play by play","Ponctuant"]:
        boolPlay=1
        boolColour=np.nan
    elif typeCommentaire in ["Colour commentary","Color commentary","Color Commentary"]:
        boolPlay=np.nan
        boolColour=1
    elif typeCommentaire=="":
        boolPlay=np.nan
        boolColour=np.nan
    else:
        print "commentaire non-standard",typeCommentaire
    timeLine.loc[decodeTime(elements[1])]=[decodeTime(elements[1]),decodeTime(elements[2]),elements[5],elements[6], elements[8], boolPlay, boolColour]

In [16]:
#timeLine

In [17]:
#sliceDataFrame(timeLine,3200,3300,1,["colour"])

In [19]:
timeCommentType=pd.DataFrame(columns=["PxP","colour","sumPxP","sumColour"])
step=100
for i in arange(3000,644000,step):
    if len(sliceDataFrame(timeLine,i,i+step,1,["PxP"])) > 0:
#        print "PxP",i
        PxP=1
        sumPxP=sliceDataFrame(timeLine,i,i+step,1,["PxP"])["PxP"].sum()
    else:
        PxP=0
        sumPxP=0
    if len(sliceDataFrame(timeLine,i,i+step,1,["colour"])) > 0:
#        print "colour",i
        colour=1
        sumColour=sliceDataFrame(timeLine,i,i+step,1,["colour"])["colour"].sum()
    else:
        colour=0
        sumColour=0
    timeCommentType.loc[i]=[PxP, colour, sumPxP, sumColour]

In [25]:
timeCommentType[0:5880][timeCommentType["sumColour"]>1]

/Users/gilles/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:1942: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

        PxP  colour  sumPxP  sumColour
5700      0       1       0          2
26600     0       1       0          2
34000     0       1       0          2
69100     0       1       0          2
77400     0       1       0          2
79200     0       1       0          2
85800     0       1       0          2
93700     0       1       0          2
107900    0       1       0          2
124800    0       1       0          2
129700    0       1       0          2
144700    0       1       0          2
146500    0       1       0          2
147700    0       1       0          2
148700    1       1       1          2
160500    0       1       0          2
163000    0       1       0          2
171900    0       1       0          2
173700    0       1       0          2
179700    0       1       0          2
180900    0       1       0          2
186300    0       1       0          2
187300    0       1       0          2
190800    0       1       0          2
193700    0       1       0          2
195500    0       1       0          2
204000    1       1       1          2
214800    0       1       0          2
222900    0       1       0          2
236800    0       1       0          3
...     ...     ...     ...        ...
470000    0       1       0          2
478800    0       1       0          2
492400    0       1       0          2
493200    0       1       0          2
495800    0       1       0          2
496100    0       1       0          2
499200    0       1       0          2
501500    0       1       0          2
501800    0       1       0          2
502900    0       1       0          2
535700    0       1       0          2
538000    0       1       0          2
542800    0       1       0          2
543200    0       1       0          2
544400    0       1       0          2
544700    0       1       0          2
546700    0       1       0          2
547300    0       1       0          2
554900    0       1       0          2
562000    0       1       0          2
562600    0       1       0          2
566100    0       1       0          3
579700    0       1       0          2
581200    0       1       0          2
583400    0       1       0          2
584100    0       1       0          2
585100    0       1       0          2
585200    0       1       0          2
590200    0       1       0          2
590500    0       1       0          2

[106 rows x 4 columns]

In [27]:
with codecs.open(commentairesTypesName,"wb") as output:
    pickle.dump(timeCommentType, output, pickle.HIGHEST_PROTOCOL)